MojeKytara.aux
MojeKytara.log
MojeKytara.out
MojeKytara.pdf
MojeKytara.sxc
authorindex.sbx
authorindex.sxd
titleindex.sbx
titleindex.sxd
missfont.log
fromindex.sxd
songidx.lua
MojeKytara_0-11.pdf
MojeKytara_0.pdf
